body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.first_section{

    background-image: url(/my-first-portfolio/src/images/top-banner.png);
    background-repeat: no-repeat;
}
.flex_container{
    display: flex;

}
section .section_container {
    margin: 0 5%;
}
section .section_container .headding{
    font-size: 50px;
}
section .section_container #developer_name{
    color: #ffa500;
}
section .section_container .half_width{
    width: 50vw;
}
.biography{
    color: #505050;
}
section .section_container .half_width .bgy2{
    width: 35vw;
}

section .section_container .half_width img{
    width: 45vw;
}
section .section_container .half_width .link_btn{
    text-decoration: none;
    color: #ffffff;
    background-image: linear-gradient(to right, #f68d6b , #fb6354);
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
    box-shadow: 10px 10px 23px 15px rgba(0,0,0,0.1);
    transition: all ease .5s;
    }section .section_container .half_width .link_btn:hover{
        background-image: linear-gradient(to right, #fb6354 , #f68d6b);
        box-shadow: 10px 10px 23px 15px rgba(0,0,0,0.04);
        }
section .section_container .margin_top{

    margin: 100px 40px;
}
.second_section{
    background-image: url(/my-first-portfolio/src/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 120px;
}
.third_section{
    background-image: url(/my-first-portfolio/src/images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: 0 200px;
    margin-top: 120px;

}
.title{
    padding-left: 10px;
    color: #313131;
    border-left: 8px solid #535353;
}
.exp_cards{
    display: flex;
    justify-content: space-between;
}
.card_item{
    width: 40vw;
    height: 320px;
    padding: 0 5px 0 15px ;
    border-radius: 0px 10px 10px 0px;
}
.front_end_card{
    border-left: 21px solid;
    border-image: linear-gradient(#ff7b3e ,#ff4e3e);
    border-image-slice: 1;
    box-shadow: 10px 10px 23px 15px rgba(0,0,0,0.2);
    transition: linear .2s;
    }   .front_end_card:hover{
            border-left: 21px solid;
            border-image: linear-gradient(#ff4e3e ,#ff7b3e);
            border-image-slice: 1;
            box-shadow: 10px 10px 23px 15px rgba(0,0,0,0.14);
        }
.baby_card{
    border-left: 21px solid;
    border-image: linear-gradient(#129edf , #0c4baa);
    border-image-slice: 1;
    box-shadow: 10px 10px 43px 15px rgba(0,0,0,0.2);
    transition: linear .2s;
    }   .baby_card:hover{
            border-left: 21px solid;
            border-image: linear-gradient(#0c4baa ,#129edf);
            border-image-slice: 1;
            box-shadow: 10px 10px 23px 15px rgba(0,0,0,0.14);
        }
.card_item h2{
    font-size: 40px;
}
.card_item h3{
    color: #ff9900;
}
footer a{
    margin-top: 120px;
    color: #505050;
    display: block;
    text-align: center;
}